@model Ogretmen
<h2>Öğretmen Güncelleme</h2>
<hr>
<div class="row">
<div class="col-8">

    <form asp-controller="Ogretmen" asp-action="Edit" method="post">
        <input type="hidden" asp-for="OgretmenId">
        <div class="mb-3">
            <label asp-for="OgretmenAd" class="form-label">Ogretmen Adı</label>
            <input asp-for="OgretmenAd" class="form-control">
        </div>
        <div class="mb-3">
            <label asp-for="OgretmenSoyad" class="form-label">Ogretmen Soyadı</label>
            <input asp-for="OgretmenSoyad" class="form-control">
        </div>
        <div class="mb-3">
            <label asp-for="Email" class="form-label">Eposta</label>
            <input asp-for="Email" class="form-control">
        </div>
        <div class="mb-3">
            <label asp-for="Telefon" class="form-label">Telefon</label>
            <input asp-for="Telefon" class="form-control">
        </div>
        <div class="mb-3">
            <label asp-for="BaslamaTarihi" class="form-label">Başlama Tarihi</label>
            <input asp-for="BaslamaTarihi" class="form-control">
        </div>
    
        <button type="submit" class="btn btn-secondary">Kaydet</button>
    
    </form>
</div>

</div>