@page
@model CompletedModel

<div class="text-center">
    <h2>Teşekkürler Siparişiniz Alındı</h2>
    <p>#@Model.OrderId numaralı siparşiniz oluşturuldu</p>
    <a href="/" class="btn btn-primary">Ana Sayfa</a>
</div>
